<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]  HateeKub</title>
    <link rel="stylesheet" href="~/css/NavBar_style.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="/images/catlogo.png">
    @RenderSection("Styles", required: false)
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

    @if (ViewData["HideNavbar"] == null)
    {
        @await Html.PartialAsync("~/Views/NavBar/navbar.cshtml")
    }

    @RenderBody()

    @if (ViewData["HideNavbar"] == null)
    {
        <div id="floating-room-container" class="floating-room-container"></div>
        <div id="floating-queue-container" class="floating-queue-container"></div>
    }

    <script src="~/js/notification-badge.js" asp-append-version="true"></script>
    <script src="~/js/NavBar.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>