<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/css/NavBar_style.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

    @await Html.PartialAsync("~/Views/NavBar/navbar.cshtml")

    @RenderBody()


    <script src="~/js/NavBar.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>