<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing</title>
  <link rel="stylesheet" href="Landing_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;800&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing_maindiv">
        <!-- SECTION 1 -->
        <section class="hero">
        <div class="hero-box">
            <h1>Let’s find your teammate!</h1>

            <div class="button-group">
            <button class="btn">LOGIN</button>
            <button class="btn">REGISTER</button>
            </div>
        </div>
        </section>


        <!-- SECTION 2 -->
        <section class="games">

        <div class="cards">
            <div class="card lol">
                <span>League</span>
                <span>of</span>
                <span>Legends</span>
            </div>
            <div class="card valo">Valorant</div>
            <div class="card rov">Rov</div>
            <div class="card ow2">Overwatch</div>
            <div class="card counter">
                <span>Counter</span>
                <span>Strike</span>
                <span>2</span>
            </div>
        </div>

        </section>
    </div>
</body>
</html>
