@{
ViewData["Title"] = "Match History";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;500;700&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/history.css">
</head>

<div class="history_page">

    <div class="header">
        <a href="" class="back-btn">
            < BACK </a>
    </div>

    <div>
        <h1 class="page-title">Match History</h1>
    </div>

    <div class="history-list">

        <div class="history-card">
            <div class="game-info">
                <div class="game-img"
                    style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd7M80-F5f0jRzFfXo-3jZ9ZZ9Z9Z9Z9Z9Z9&s');">
                </div>
                <div class="game-details">
                    <h3>Valorant</h3>
                    <span class="mode">Ranked - 5v5</span>
                    <span class="date">20 Oct 2023, 14:30</span>
                </div>
            </div>

            <div class="teammates">
                <img src="https://i.pravatar.cc/100?img=1" class="avatar" title="User A">
                <img src="https://i.pravatar.cc/100?img=2" class="avatar" title="User B">
                <img src="https://i.pravatar.cc/100?img=3" class="avatar" title="User C">
                <img src="https://i.pravatar.cc/100?img=4" class="avatar" title="User D">
            </div>

            <div class="action">
                <a href="" class="view-btn">VIEW MORE</a>
            </div>
        </div>

        <div class="history-card">
            <div class="game-info">
                <div class="game-img"
                    style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd7M80-F5f0jRzFfXo-3jZ9ZZ9Z9Z9Z9Z9Z9&s');">
                </div>
                <div class="game-details">
                    <h3>RoV</h3>
                    <span class="mode">Standard</span>
                    <span class="date">19 Oct 2023, 20:15</span>
                </div>
            </div>

            <div class="teammates">
                <img src="https://i.pravatar.cc/100?img=5" class="avatar">
                <img src="https://i.pravatar.cc/100?img=6" class="avatar">
                <img src="https://i.pravatar.cc/100?img=7" class="avatar">
                <img src="https://i.pravatar.cc/100?img=8" class="avatar">
            </div>

            <div class="action">
                <a href="" class="view-btn">VIEW MORE</a>
            </div>
        </div>

        <div class="history-card">
            <div class="game-info">
                <div class="game-img"
                    style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd7M80-F5f0jRzFfXo-3jZ9ZZ9Z9Z9Z9Z9Z9&s');">
                </div>
                <div class="game-details">
                    <h3>Overwatch 2</h3>
                    <span class="mode">Quick Play</span>
                    <span class="date">18 Oct 2023, 10:00</span>
                </div>
            </div>

            <div class="teammates">
                <img src="https://i.pravatar.cc/100?img=10" class="avatar">
                <img src="https://i.pravatar.cc/100?img=11" class="avatar">
            </div>

            <div class="action">
                <a href="" class="view-btn">VIEW MORE</a>
            </div>
        </div>

    </div>
</div>