@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Teammate</title>
    <link rel="stylesheet" href="~/css/Landing_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;800&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing_maindiv">
        <section class="hero">
            <div class="hero-box">
                <h1>Let’s find your teammate!</h1>

                <div class="button-group">
                    <a asp-controller="Account" asp-action="Login" class="btn">
                        LOGIN
                    </a>
                    <a asp-controller="Account" asp-action="Register" class="btn">
                        REGISTER
                    </a>
                </div>
            </div>
            <div class="scanline"></div>
        </section>

        <section class="games">
            <h2 class="section-title">CHOOSE YOUR ARENA</h2> <div class="cards">
                <div class="card lol">
                    <div class="card-content">
                        <span>LEAGUE OF</span>
                        <span>LEGENDS</span>
                    </div>
                </div>

                <div class="card valo">
                    <div class="card-content">
                        <span>VALORANT</span>
                    </div>
                </div>

                <div class="card rov">
                    <div class="card-content">
                        <span>ROV</span>
                    </div>
                </div>

                <div class="card ow2">
                    <div class="card-content">
                        <span>OVERWATCH 2</span>
                    </div>
                </div>

                <div class="card counter">
                    <div class="card-content">
                        <span>COUNTER</span>
                        <span>STRIKE 2</span>
                    </div>
                </div>
            </div>
            
            <div class="glow-bg"></div>
        </section>
    </div>
</body>
</html>