<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/match.css" />

</head>
<body>
<div id="MatchContainer" class="MatchContainer">

    <button type="button" class="back-btn">
        <img src="https://i.pinimg.com/474x/82/55/03/8255033248d018b6c5f3d460b2deec16.jpg"
             class="back-btn-icon">
        BACK
    </button>

    <select name="games" id="games">
        <option value="MLBB">MLBB</option>
        <option value="PUBG">PUBG</option>
        <option value="LOL">LOL</option>
        <option value="VALORANT">VALORANT</option>
        <option value="OW2">OW2</option>
        <option value="CS2">CS2</option>
        <option value="AMONGUS">AMONGUS</option>
        <option value="PEAK">PEAK</option>
    </select>

</div>
    <script src="~/js/match.js" asp-append-version="true"></script>
</body>
