<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Noto+Sans+Thai:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="home-container">
        <h2 class="title">Choose your Game!</h2>
        <div id="game-cards-container" class="game-cards-container"></div>
    </div>

    <div id="game-modal" class="modal-overlay">
        <div class="modal-box">
            <button class="modal-close" onclick="closeModal()">X</button>
            <img id="modal-game-img" class="modal-game-img" src="" alt="">
            <h3 id="modal-game-title" class="modal-game-title"></h3>
            <p class="modal-label">Input Game ID</p>
            <input id="game-id-input" class="modal-input" type="text" placeholder="ex. ProSkylnwza007">
            <p id="input-error" class="input-error">Please enter a Game ID</p>
            <button id="modal-submit" class="modal-submit" onclick="submitGame()">SUBMIT</button>
        </div>
    </div>
    <script src="/js/homePage.js"></script>
</body>
</html>