
body {
  margin: 0; 
}

.landing_maindiv {
  font-family: 'Noto Sans Thai', sans-serif;
  background: black;
  color: white;
  min-height: 100vh;


  box-sizing: border-box;
}


.landing_maindiv *,
.landing_maindiv *::before,
.landing_maindiv *::after {
  box-sizing: inherit;
}


.landing_maindiv * {
  margin: 0;
  padding: 0;
}


.hero {
  height: 100vh;  
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("hero.png") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}



.hero-box {
  text-align: center;
}

.hero-box h1 {
  font-family: 'Press Start 2P';
  font-size: 32px;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  gap: 120px;
  justify-content: center;
}

.btn {
  width: 240px;
  height: 60px;
  background: #AA00C1;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 800;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #40004a;
}


.games {
  height: 100vh; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black
}


.games::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;

  background: radial-gradient(
    ellipse at 50% 140%,   
    rgba(170, 0, 193, 0.9) 0%,
    rgba(0, 0, 0, 1) 70%
  );

  z-index: 0;
}

.cards {
  display: flex;
  gap: 60px;
  z-index: 1;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 16px;
  background: #111;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 36px;
  padding: 20px;
  transition: 0.3s;

  box-shadow: 0 4px 30px rgba(0,0,0,0.4);
}

.card:hover {
  transform: translateY(-10px);
}


.lol { 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("bg-lol.png") center/cover no-repeat; 
}
.valo { 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("bg-valo.png") center/cover no-repeat; 
}
.rov { 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("bg-rov.png") center/cover no-repeat; 
}
.ow2 { 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("bg-ow2.png") 13% center/cover no-repeat; 
}
.counter { 
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("bg-counter.png") center/cover no-repeat; 
}

