@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;300;400;500;700&display=swap');
body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top, #1a001f 0%, #000000 60%);
    color: white;
    font-family: 'Noto Sans Thai', sans-serif;
}

:root {
    --primary: #EB55FF;
    --secondary: #AA00C1;
    --text-soft: #F4A5FF;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.MatchContainer{
    width: 65%;
    max-width: 1600px;  
    margin: 0 auto;
    padding: 0 20px;
    

}
.player-room {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    justify-content: center;      
    gap: 15px;
    background-color: #0d0d0d;
    padding: 10px 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    border: 1px solid #1f1f1e;
}

@media (max-width: 1400px) {
    .player-room {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* mobile */
@media (max-width: 600px) {
    .player-room {
        grid-template-columns: repeat(2, 1fr);
    }
}


.room-name {
    position: absolute;
    top: 0;
    right: 20px;
    font-family: 'Noto Sans Thai', sans-serif;
    transform: translateY(-50%); /* ดันขึ้นครึ่งนึง */

    padding: 4px 12px;
    background: #0d0d0d;
    color: #ffffff;

    border: 1px solid #fffb23;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 700;
}


.player-dev , .empty-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(235, 85, 255, 0.3);
    border-radius: 14px;
    padding: 15px;
    font-size: 14px;

    background: linear-gradient(145deg, #0f0f0f, #1a001f);
    transition: 0.25s ease;
}

.player-dev:hover {
    transform: translateY(-6px);
    border: 1px solid var(--primary);
    box-shadow: 0 0 20px rgba(235, 85, 255, 0.6);
}
.empty-dev:hover
{
    transform: translateY(-6px);
    border: 1px solid var(--primary);
    box-shadow: 0 0 20px rgba(235, 85, 255, 0.6);
}

.empty-dev:hover span {
    visibility: hidden;
}

.empty-dev:hover::after {
    content: "ദ്ദി˙ ᴗ ˙ )";
    color: #EB55FF;
}

.empty-dev{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #EB55FF;
    border-radius: 12px;
}
.player-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #EB55FF;
}
p {
    font-family: 'Noto Sans Thai', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12;
}
.rankImg {
    width: 60px;
    height: 60px;
}
.empty-crown {
    display: block;
    font-size: 18px;
    color: #EB55FF;
}

.player-dev p {
    margin: 2px 0;
}

.rank-p{
font-family: 'Noto Sans Thai', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
color: #F4A5FF;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

.back-btn {
    position: relative;
    display: flex;
    justify-content: flex-start;  /* ชิดซ้าย */
    align-items: center;
    align-self: flex-start;   /* ดันตัวเองไปซ้าย */
    padding: 10px 50px;
    margin:20px 0px ;
    font-family: 'Noto Sans Thai', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 12px;
    background-color: #925f9a;
    
}
.back-btn:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #5d3963;
    box-shadow: 0 0 15px rgba(170, 0, 193, 0.6);
    cursor: pointer;
}
.back-btn-icon {
    position: absolute;
    left: -20px;  /* ดันออกนอกปุ่ม */
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff;
    
}
.join-btn{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 10px 50px;
    margin-bottom:10px ;
    font-family: 'Noto Sans Thai', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12;
    color: #ffffff;
    border: 2px solid #AA00C1;
    border-radius: 12px;
    background-color: #AA00C1;
}


select {
    appearance: none; /* เอา style browser ออก */
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #0d0d0d;
    color: white;
    margin: 15px 0px;
    padding: 10px 40px 10px 14px; /* เว้นที่ให้ลูกศร */
    border: 1px solid #2a2a2a;
    border-radius: 5px;

    font-size: 14px;
    cursor: pointer;

    transition: all 0.25s ease;

    /* ลูกศร custom */
    background-image: url("data:image/svg+xml,%3Csvg fill='%23EB55FF' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
}
select:hover {
    border-color: #AA00C1;
}
select:focus {
    outline: none;
    border-color: #EB55FF;
    box-shadow: 0 0 10px rgba(235, 85, 255, 0.6);
}

.hide {
    display: none;
}
.role-form.hide {
    display: none;
}
.role-form {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 8px 0;
    
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.role-form input {
    display: none;
    
}

.role-form span {
    padding: 6px 16px;
    border-radius: 20px;
    background: #1f1f1f;
    color: #eee;
    border: 1px solid #333;
    transition: 0.2s;
    cursor: pointer;
}

.role-form span:hover {
    background: #AA00C1;
    color: #fff;
}

.role-form input:checked + span {
    background: #AA00C1;
    color: white;
}
.role-disabled {
    background: #2a2a2a;
    color: #777;
    border: 1px solid #444;
    opacity: 0.6;
}

.req-bar{
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;   /* ถ้าพื้นที่ไม่พอให้ลงบรรทัดใหม่ */
    align-items: center;
}
.req-text{
    box-sizing: border-box;
    background: #1d1d1d;
    border-radius: 16px;

    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 3px;
    font-family: 'Play', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #86969c;
    

}