.NoticeContainer{
    width: 80%;
    margin: 30px auto;
    padding: 0 20px;
}


.date-header {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-header::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #333;
}
.notice-dev{

    background-color: #202020;
    border-radius: 14px;
    padding: 20px 50px;
    margin-bottom: 15px;

    border: 1px solid #2c2c2c;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    transition: all 0.2s ease;
    
}
.notice-dev:hover {
    transform: translateY(-3px);
    background-color: #262626;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.message-dev {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.message-text {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.3px;
}
.message-time {
    font-size: 14px;
    color: gray;
}

.detail-dev {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.detail-text {
    font-size: 14px;
    opacity: 0.7;
    
}

.detail-game {
    font-size: 16px;
    color: #FFCC00;
}

.message-dev p,
.detail-dev p {
    margin: 0;
}