body{

margin:0;
font-family:sans-serif;
color:white;

background:
radial-gradient(circle at 30% 20%, rgba(140,110,255,0.08) 0%, transparent 45%),
radial-gradient(circle at 70% 10%, rgba(180,120,255,0.06) 0%, transparent 40%),
radial-gradient(circle at 50% 90%, rgba(120,80,200,0.08) 0%, transparent 55%),
linear-gradient(180deg,#030617 0%,#050a1f 60%,#020611 100%);

height:100vh;
overflow:hidden;

}

body::before{
content:"";
position:absolute;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px, transparent 1px);
background-size:60px 60px;
opacity:0.15;
pointer-events:none;
}
body::after{
content:"";
position:absolute;
inset:0;

background:
radial-gradient(circle at center,
transparent 55%,
rgba(0,0,0,0.35) 100%);

pointer-events:none;
}
.player-main{
filter: drop-shadow(0 20px 25px rgba(0,0,0,.5));
}
/* TOP */
button{
    background:none;
    border:none;
}
.topbar{
display:flex;
gap:20px;
align-items:center;
justify-content:center;

}

.topbar h2{
letter-spacing:3px;
}

/* PARTY AREA */

.party-container{

display:flex;
justify-content:center;
align-items:center;

gap:10px;

margin-top:100px;

}

/* EMPTY SLOT */

.slot{

width:160px;
height:260px;

border:2px solid rgba(255,255,255,.2);

display:flex;
justify-content:center;
align-items:center;

font-size:36px;

opacity:.6;

transition:.2s;

}

.slot:hover{

opacity:1;
border-color:white;

}

/* CENTER CARD */

.player-main{

width:240px;
height:360px;

position:relative;

display:flex;
align-items:center;
justify-content:center;

}

/* CARD */

.card:hover{
    scale: calc(1.05);
}
.card{

width:100%;
height:100%;

position:relative;

border-radius:6px;

overflow:hidden;

box-shadow:

0 0 20px rgba(255,255,255,.2),
0 0 60px rgba(226, 134, 247, 0.3);

}

/* BANNER */

.card img{

width:100%;
height:100%;

object-fit:cover;


}

.left-btn{
    transform: scaleX(-1);
}
/* LEVEL */

.player-level{

position:absolute;
top:10px;
left:50%;

transform:translateX(-50%);

background:#3a2a1f;

padding:3px 10px;

border-radius:10px;

font-size:12px;

}

/* NAME */

.player-name{

position:absolute;
bottom:60px;
left:50%;

transform:translateX(-50%);

background:#f3c267;

color:black;

padding:6px 20px;

font-weight:700;

}

/* TITLE */

.player-title{

position:absolute;
bottom:30px;
left:50%;

transform:translateX(-50%);

font-size:12px;

opacity:.8;

}

/* BUTTON BAR */

.bottom-bar{

position:absolute;
bottom:80px;
left:50%;
justify-content:center;
transform:translateX(-50%);

display:flex;
gap:30px;

}

/* PRACTICE */

.practice{

background:#6c7a86;

border:none;

color:white;

padding:10px 40px;

font-size:16px;

}

/* START */

.start{

background:#ff4655;

border:none;

color:white;

font-size:22px;

padding:14px 90px;

font-weight:800;

letter-spacing:3px;

transition:.2s;

}

.start:hover{

transform:scale(1.05);

background:#ff5c69;

}

/* LEAVE */

.leave{

background:#5f6a73;

border:none;

color:white;

padding:10px 40px;

}

/* OWNER (กลาง) */
.player-main:nth-child(3){
    transform: scale(1);
    
}

/* ใกล้ owner */
.player-main:nth-child(2),
.player-main:nth-child(4){
    transform: scale(0.95);
    opacity:0.95;
}

/* ไกล owner */
.player-main:nth-child(1),
.player-main:nth-child(5){
    transform: scale(0.90);
    opacity:0.90;
}

.card{
    width:100%;
    height:100%;
    position:relative;
    border-radius:6px;
    overflow:visible;
}
.player-level{
display:flex;
align-items:center;
gap:4px;
}
.player-level img{
width:20px;
}