<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/testroom.css">

</head>

<body>

<div class="lobby">



    <div id="roomContainer" class="party-container"></div>

    <div class="bottom-bar">

        <button class="practice">
            Ready
        </button>

        <button class="start">
            START
        </button>

        <button class="leave">
            LEAVE PARTY
        </button>

    </div>

</div>

<script src="/js/testroom.js"></script>

</body>
</html>