@section Styles {
    <link rel="stylesheet" href="~/css/notice.css" asp-append-version="true" />
}

<div id="NoticeContainer" class="NoticeContainer">
</div>

@section Scripts {
    <script src="~/js/notice.js" asp-append-version="true"></script>
}